.container {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  position: relative;
  padding-top: 5rem;
  overflow-x: hidden;
}

.title {
  padding: 0.5rem;
  position: absolute;
  top: 1rem;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title button {
  outline: none;
  font-weight: 700;
  padding: 0.5rem;
  border: 2px solid black;
  background-color: transparent;
  transition: all 0.4s ease;
}

.title button:hover {
  background-color: #fb8500;
  border: 2px solid #fb8500;
  color: wheat;
}

.cartItems {
  width: 100vw;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 70%;
  overflow-y: scroll;
}

.orderSummary {
  width: 300px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 166, 0, 0.653),
    rgba(255, 20, 145, 0.667)
  );
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderSummaryItem {
  width: 90%;
  padding: 0.3rem;
  margin: 0.5rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.orderSummaryItem p {
  width: 100%;
  font-weight: 700;
}

.orderSummary .total {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.checkOut {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  margin: 0.5rem 0;
  height: 3rem;
  width: 50%;
  border-radius: 20px;
  background-color: black;
}

.checkOut button {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.emptyCart {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  bottom: 0;
  left: 0;
  background-color: orange;
}

@media (min-width: 500px) {
  .cartItems {
    width: 700px;
  }
}

@media (min-width: 600px) {
  .cartItems {
    width: 70vw;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: scroll;
  }

  .orderSummary {
    width: 500px;
  }
}
