.Container {
  display: flex;
  flex-direction: column;
}

.ProductsContainer {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ProductsContainer > p {
  width: 100%;
  text-align: center;
  font-size: 1.4rem;
  color: gray;
}
